<!-- As a heading -->
<!-- <nav class="navbar bg-light cabecalho">
    <div class="container-fluid">
        <img src="assets/images/logo-appWhite.png" alt="Não carregou"
        class="logo">
        <span class="navbar-brand mb-0 h1">NotificationApp</span>
    </div>
</nav> -->

<nav class="navbar bg-light cabecalho">
    <div class="container-fluid tamanho">
        <div>
            <img src="assets/images/logo-appWhite.png" alt="Não carregou"
            class="logo">
            <span class="navbar-brand mb-0 h1">NotificationApp</span>
        </div>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button routerLink="home" type="button" class="btn btn-secondary">Home</button>
            <button routerLink="sobre" type="button" class="btn btn-secondary">Sobre</button>
        </div>
    </div>
</nav>