.container-fluid {
    // background-color: #e24c4d;
    padding: 10px;
}
.navbar.bg-light.cabecalho {
    background-color: #4ca3e2 !important;
    span {
        color: white;
    }
}
.tamanho {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
button {
    background-color: #4ca3e2;
    border: 1px solid white;
}
button:hover {
    background-color: white;
    border-color: white;
    color: #4ca3e2;
}
button:active {
    background-color: white !important;
    border-color: white !important;
    color: #4ca3e2 !important;
}
img {
    max-width: 50px;
    margin-right: 10px;
}